@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root {
  --red: #ff7a7a;
  --green: #38cc8c;
  --dark-green: #30ba7d;
  --blue: #6055a5;
  --dark-blue: #3e3c49;
  --grayish-blue: #b9b6d3;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--red);
  background-image: url(./images/bg-intro-desktop.png);
  font-family: 'Poppins', cursive;
  width: 100vw;
  height: 100vh;
}

.container {
  display: flex;
  align-items: center;
}

.intro {
  width: 50%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.intro-text {
  width: 500px;
}

.intro-h1 {
  font-size: 50px;
  font-weight: 700;
  line-height: 50px;
  letter-spacing: -0.01em;
  margin-bottom: 30px;
}

.intro-p {
  font-weight: 500;
  line-height: 24px;
}

.second-collumn {
  width: 50%;
  display: flex;
  align-items: center;
  justify-items: center;
  flex-direction: column;
}

.call-box {
  width: 540px;
  height: 50px;
  background: var(--blue);
  border-radius: 8px;
  color: #fff;
  letter-spacing: -0.005em;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 25px;
  box-shadow: 0px 10px 8px 0px #2424244b;
}

.form-box {
  background: #fff;
  width: 540px;
  height: 410px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-items: center;
  justify-content: space-between;
  flex-direction: column;
  box-shadow: 0px 10px 8px 0px #2424244b;
}

.input {
  width: 460px;
  height: 45px;
  border-radius: 4px;
  border: 1px solid var(--grayish-blue);
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0.01em;
  padding-left: 25px;
}

.input:invalid {
  color: var(--red);
  outline: none;
}

span.error {
  display: flex;
  justify-content: right;
  color: var(--red);
  font-size: 10px;
  font-style: italic;
  margin-top: 4px;
}

span.error.active {
  color: var(--red);
  font-size: 10px;
}

.m-top {
  margin-top: 35px;
}

.input::placeholder {
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0.01em;
  color: var(--grayish-blue);
}

input:focus {
  outline: 0.5px solid #000;
  box-shadow: 0 0 0 0;
}

.button {
  background: var(--green);
  width: 485px;
  height: 45px;
  border-radius: 8px;
  border-style: none;
  border-bottom: 3px solid var(--dark-green);
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.015em;
  cursor: pointer;
}

.form-footer {
  font-size: 10px;
  font-weight: 400;
  letter-spacing: 0.05em;
  color: var(--grayish-blue);
  margin-bottom: 20px;
}

.form-footer a {
  color: var(--red);
  text-decoration: none;
}

.form-footer a:hover {
  text-decoration: underline;
}

.attribution {
  font-size: 11px;
  text-align: center;
  color: #fff;
  position: absolute;
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
}

.attribution a {
  text-decoration: none;
  color: #fff;
}

.attribution a:hover {
  text-decoration: underline;
}

@media (max-width: 420px) {
  body {
    background-image: url(./images/bg-intro-mobile.png);
  }
  .container {
    flex-direction: column;
    flex-wrap: wrap;
  }
  .intro {
    height: 230px;
    margin-top: 90px;
    margin-bottom: 60px;
  }
  .intro-text {
    width: 330px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .intro-h1 {
    font-size: 30px;
    line-height: 40px;
    letter-spacing: -0.01em;
    margin-bottom: 25px;
  }
  .intro-p {
    line-height: 24px;
    text-align: center;
  }
  .call-box {
    width: 330px;
    height: 85px;
  }
  .call-box-text {
    line-height: 28px;
    width: 200px;
    text-align: center;
  }
  .form-box {
    width: 330px;
    height: 390px;
  }
  .input {
    width: 245px;
    height: 45px;
  }
  .button {
    background: var(--green);
    width: 275px;
    height: 45px;
    font-size: 15px;
  }
  .form-footer {
    width: 235px;
    text-align: center;
  }
  .attribution {
    position: unset;
    left: none;
    transform: none;
    margin: 20px 0px;
    padding-bottom: 10px;
  }
}
